.features {
  padding-top: 60px;
  padding-bottom: 60px;

  /* outline: 1px solid tomato; */
  // background-color: blue;
}

.features__list {
  @extend %list;

  // display: flex;

  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: $media-tab) {
  .features__list {
    display: flex;
    flex-wrap: wrap;

    margin-top: -15px;
    margin-bottom: -15px;
    padding-left: 0;
    padding-right: 0;
  }

  .features__item {
    width: calc((100% - 2 * 30px) / 2);

    margin: 15px;
  }
}

.features__title {
  color: $secondary-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__description {
  color: $primary-text-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.features__icon {
  height: 120px;

  background-color: $secondary-background-color;
  background-position: center;
  border-radius: 4px;

  margin-bottom: 30px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}
