.features {
  padding-top: 60px;
  padding-bottom: 60px;

  /* outline: 1px solid tomato; */
  // background-color: blue;
}

.features__list {
  @extend %list;

  padding-left: 15px;
  padding-right: 15px;
}

.features__title {
  color: $secondary-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__description {
  color: $primary-text-color;

  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.features__icon {
  height: 120px;

  background-color: $secondary-background-color;
  background-position: center;
  border-radius: 4px;

  margin-bottom: 30px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
}

@media screen and (min-width: $media-mob) {
  .features__list {
    width: $media-mob;

    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: $media-tab) {
  .features__list {
    display: flex;
    flex-wrap: wrap;

    width: $media-tab;

    margin-top: -15px;
    margin-bottom: -15px;
    padding-left: 0;
    padding-right: 0;
  }

  .features__item {
    width: calc((100% - 2 * 30px) / 2);

    margin: 15px;
  }
}

@media screen and (min-width: $media-desctop) {
  .container {
    width: 1200px;
  }

  .features {
    padding-top: 90px;
    padding-bottom: 94px;

    /* outline: 1px solid tomato; */
  }

  .features__list {
    display: flex;

    width: $media-desctop;

    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .features__item {
    width: calc((100% - 90px) / 4);
    margin: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
