.footer {
  background-color: $background-footer;
}

.container-footer {
  @extend %container;

  display: flex;
  align-items: baseline;
  justify-content: space-between;

  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer__item {
  &:not(:last-child) {
    display: block;

    margin-right: 70px;
  }

  & > .logo {
    margin-bottom: 20px;
  }
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }

  margin-top: 0px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $color-secondary-grey;

  &.address {
    color: $color-white;
  }
}

.footer__title {
  display: block;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $color-white;
}

.join__list {
  @extend %list;

  display: flex;
}

.join__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: $color-secondary-footer-dark-gray;
  fill: $color-white;

  transform: scale(1);

  transition: background-color $time-var $transform-function,
    transform $time-var $transform-function;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: $active-color;

    transform: scale(1.2);
  }
}

.form__email {
  @include form-input(
    358px,
    50px,
    $form-input-border-color,
    $display: inline-block
  );

  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background-color: transparent;
  color: $form-email;
}

.btn__submit {
  @extend %button;

  display: inline-flex;

  padding: 10px 28px;

  align-items: center;
}

.btn__title {
  margin: 0;
  margin-right: 10px;
}

.btn__icon {
  @extend %icon;

  display: inline-block;

  fill: $color-white;
}
