.header {
  background-color: aqua;
}

.main {
  background-color: burlywood;
}

.container-header {
  @extend %container;

  width: 100%;
}

@media screen and (min-width: $media-mob) {
  .container-header {
    width: $media-mob;
  }
}

@media screen and (min-width: $media-tab) {
  .container-header {
    width: $media-tab;
  }
}

.logo {
  @extend %nav-block;
  @extend %logo-block;
}

.logo__icon {
  @extend %logo-block;
}

.topmenu {
  @extend %nav-block;
  @extend %list;
}

.contact {
  @extend %nav-block;
  @extend %list;
}
