@mixin form-input(
  $width,
  $height,
  $color,
  $display: block,
  $position: relative
) {
  display: $display;

  position: $position;

  width: $width;
  height: $height;

  border: 1px solid $color;
  border-radius: 4px;
  box-sizing: border-box;
}

@mixin modal-block($height) {
  position: relative;

  width: 100%;
  height: $height;
}

@mixin image($display) {
  display: $display;
}
