%container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid blue; */
  // background-color: aqua;
}

%nav-block {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

%list {
  list-style: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

%logo-block {
  display: inline-block;

  width: 134px;
  height: 28px;
}
